body
{
    color: black;
    text-align: center;
    font-family: 'Lora', serif;
    margin:0px;
}

.parents, .family, .childrens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.parent, .children {
    width: 220px;
    background-color: #f1f1f1;
    border-radius: 12px;
    margin:12px 24px
}
