<!DOCTYPE html>
<html>
<head>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>{% block title %}Billy - {% endblock %}</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="View/img/favicon.ico"/>
  <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
</head>
<body>
<header>
  <div class="container">
    <nav role="navigation" class="menu">
      <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_homepage')}}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Liste des personnes</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="corps container">
  {% block body '' %}
</div>
<footer>
  <div id="bottom-footer">
    <div class="container bottom-footer-container">
      <div class="site-info">
        <a href="http://www.anthonydelgado.fr"> Anthonydelgado.fr </a><br/>
      </div>
    </div>
  </div>
</footer>
{% block javascripts %}
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
